{% extends 'base2.html' %} 
{% block content %}

<div class="container" style="max-height: 100vh;">
  <div>
    <img src="/static/images/vl-logo_717073-109.png" height="300px" width="330px">
  </div>
  <div class="row row-cols-2 row-cols-lg-4">
    <div class="col">
      <div class="box" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasBottom"
        aria-controls="offcanvasBottom" style="background: #d1e5e6">
        <p class="mb-0 text-dark fs-5" style="font-family: Times New Roman !important;">
          Register <br />
           Customer
        </p>
      </div>
    </div>
    <div class="col">
      <div class="box" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasBottom1"
        aria-controls="offcanvasBottom" style="background: #dde2f0">
        <p class="mb-0 text-dark fs-5" style="font-family: Times New Roman !important">
          Manage <br />
          Customer
        </p>
      </div>
    </div>
    <div class="col mt-3">
      <div class="box" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasBottom4"
      aria-controls="offcanvasBottom" style="background: #e9ffcf">
          <p class="mb-0 text-dark fs-5" style="font-family: Times New Roman !important">
            Account <br />
            Setting
          </p>
        
      </div>
    </div>
    <div class="col mt-3">
      <div class="box" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasBottom3"
        aria-controls="offcanvasBottom3" style="background: #e3d3e6">
        <p class="mb-0 text-dark fs-5" style="font-family: Times New Roman !important">
          Help
        </p>
      </div>
    </div>
  </div>
</div>

<div class="offcanvas offcanvas-bottom" style="height: 100vh;" tabindex="-1" id="offcanvasBottom"
  aria-labelledby="offcanvasBottomLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasBottomLabel">
      <span type="button" class="me-2" data-bs-dismiss="offcanvas" aria-label="Close"><i
          class="fa-solid fa-arrow-left"></i>
      </span> Register
  </div>
  <div class="offcanvas-body small mt-0">

    <section class="pt-0">
      <form id="photoForm" class="element-to-hide" style="display: contents;" method="post" action="{% url 'customer_reg' %}" enctype="multipart/form-data">
        {% csrf_token %}
  
        <section class="container p-0 mt-0">
  
          <div class=" p-0">
  
            <div class="tab d-none">
              <div>
                <section class="container mt-0 p-0">
                  <header>Register Customer</header>
                  <div class="form" style="background-color: #ffffff;"> 
                    <div class="input-box">
                      <label>First Name</label>
                      <input type="text" name="f_name" maxlength="15" required />
                      <span class="error-message"></span>
                    </div>
                    <div class="input-box">
                      <label>Middle Name</label>
                      <input type="text" name="m_name" maxlength="15" required />
                      <span class="error-message"></span>
                    </div>
                    <div class="input-box">
                      <label>Last Name</label>
                      <input type="text" name="l_name" maxlength="15" required />
                      <span class="error-message"></span>
                    </div>
                    <div class="input-box">
                      <label>Mobile </label>
                      <input type="text" name="mobile" required />
                      <span class="error-message"></span>
                    </div>
                    <div class="input-box">
                      <label>Email </label>
                      <input type="email" name="email" required />
                      <span class="error-message"></span>
                    </div>
                  </div>
  
                  <label for="" class="mt-2 mb-0">Aadhar file</label>
                  <div class="text-center rounded border border-none">
                    <div class="file-upload input-box">
                      <input class="form-control" name="aadhar" type="file" id="formFile">
                      <span class="error-message"></span>
                    </div>
                  </div>
  
                  <label for="" class="mt-2 mb-0">Profile Photo</label>
                  <div class="fileinput text-center rounded border border-none">
                    <div class="file-upload input-box">
                      <input class="form-control" name="profile_photo" type="file" id="formFile">
                      <span class="error-message"></span>
                    </div>
                  </div>
                </section>
  
              </div>
  
            </div>
  
            <div class="tab d-none">
              <div>
                <section class="container mt-0 p-0">
                  <header>Register Customer</header>
                  <div>
                    <div class="input-box">
                      <label>Company Name</label>
                      <input type="text" class="form-control" required name="c_name" />
                      <span class="error-message"></span>
                    </div>
  
                    <div class="input-box">
                      <label>Company Registration No</label>
                      <input type="text" class="form-control" required name="c_register_no" />
                      <span class="error-message"></span>
                    </div>
  
                    <div class="input-box">
                      <label> Company Email </label>
                      <input type="email" class="form-control" required name="c_email" />
                      <span class="error-message"></span>
                    </div>
  
                    <div class="input-box">
                      <label> Company Mobile </label>
                      <input type="text" class="form-control" required name="c_mobile" />
                      <span class="error-message"></span>
                    </div>
  
                    <div class="input-box">
                      <label>Company Address</label>
                      <input type="text" class="form-control" required name="c_address" />
                      <span class="error-message"></span>
                    </div>
                  </div>
  
                  <label for="" class="mt-2 mb-1">Company Incorporation</label>
                  <div class="fileinput text-center rounded">
                    <div class="file-upload">
                      <input class="form-control" name="c_incorporation" type="file" id="formFile">
                      <span class="error-message"></span>
                    </div>
                  </div>
  
                  <label for="" class="mt-2 mb-1">PAN Card</label>
                  <div class="fileinput text-center rounded">
                    <div class="file-upload ">
                      <input class="form-control" name="p_card" type="file" id="formFile">
                      <span class="error-message"></span>
                    </div>
                  </div>
                </section>
              </div>
            </div>
  
            <div class="tab d-none">
              <div class="container my-5">
                <h3 class="text-center">Photo Submission PWA</h3>
                <div class="row">
                  <div class="col-md-7 mx-auto bg-light p-3">
                    <div class="form-data">
                      <input type="hidden" id="date" name="date" class="form-control mb-3" readonly />
                    </div>
                    <div class="form-data">
                      <input type="hidden" id="time" name="time" class="form-control mb-3" readonly />
                    </div>
                    <div class="form-data">
                      <input type="hidden" id="location" name="location" class="form-control mb-3" readonly />
                    </div>
                    <div class="form-data">
                      <input type="hidden" id="name" class="form-control mb-3" />
                    </div>
  
                    <div class="form-data">
                      <video id="video" class="w-100 h-100 mt-4" autoplay></video>
                      <canvas id="canvas" width="640" height="480" style="display:none;"></canvas>
                      <img id="captured-image" src="#" class="w-100" style="display: none;">
                      <input type="hidden" id="image_data" name="image_data">
                      <div class="d-flex justify-content-center mt-2">
                        <button type="button" id="cameraButton" class="btn btn-primary rounded-circle"><i
                            class="fa fa-camera"></i></button>
                        <button type="button" id="flip-camera-btn" class="btn btn-secondary rounded-circle mx-2"><i
                            class="fa-solid fa-arrows-rotate"></i></button>
                      </div>
                    </div>
                    <div class="form-data mt-3 d-flex justify-content-center">
                      <button type="submit" id="submitBtn" class="btn btn-success mx-2" style="display: none;">Submit</button>
                      <button id="retake-btn" type="button" class="btn btn-danger mx-2"
                        style="display: none;"><i class="fa-solid fa-rotate-right"></i></button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
  
          </div>
        </section>
  
        <div class=" pb-2 mb-3 pt-3">
          <div class="d-flex justify-content-center">
            <button type="button" id="back_button" class="btn btn-link" onclick="back()">
              Back
            </button>
            <button type="button" id="next_button" class="btn btn-secondary" onclick="next()">
              Next
            </button>
          </div>
        </div>
      </form>
    </section>

  </div>
</div>


<div class="offcanvas offcanvas-bottom" style="height: 100vh;" tabindex="-1" id="offcanvasBottom1"
  aria-labelledby="offcanvasBottomLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasBottomLabel">
      <span type="button" class="me-2" data-bs-dismiss="offcanvas" aria-label="Close"><i
          class="fa-solid fa-arrow-left"></i></span> Manage

    <div class="offcanvas-body small mt-0 p-0">
      <main class="hm-gradient">
        <!--MDB Tables-->
         <section class="container mt-3 p-0">
          <div class="mb-4">
            <header>Manage Customer</header>
            <div class="card-body mt-4">
              <!--Table-->
              <table class="table table-hover">
                <!--Table head-->
                <thead
                  class="mdb-color"
                  style="background-color: rgb(241 241 240) !important"
                >
                  <tr>
                    <th class="fw-bold" style="width: 75px">ID</th>
                    <th class="fw-bold" style="width: 200px">Name</th>
                    <th class="fw-bold" style="width: 100px">Detail</th>
                    <th class="fw-bold">.</th>
                  </tr>
                </thead>
      
                <!--Table head-->
                <!--Table body-->
                <tbody>
      
                  {% for customer in manage_customer %}
                  <tr>
      
                    <th  id="uniqueId"  scope="row">{{ customer.unique_id }}</th>
                    <td>{{ customer.f_name }} {{ customer.l_name }}</td>
                    <td>
                      <button
                        class="bg-success text-light rounded-2"
                        style="width: 55px"
                      >
                      <span style="margin-left: -9px;">View</span>
                      </button>
                    </td>
                    <!-- Include Bootstrap modal dialog -->
                    <div
                      class="modal fade"
                      id="deleteModal{{customer.id}}"
                      tabindex="-1"
                      aria-labelledby="deleteModalLabel"
                      aria-hidden="true"
                    >
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="deleteModalLabel">
                              Confirm Delete
                            </h5>
                            <button
                              type="button"
                              class="btn-close"
                              data-bs-dismiss="modal"
                              aria-label="Close"
                            ></button>
                          </div>
                          <div class="modal-body">
                            Are you sure you want to delete this item?
                          </div>
                          <div class="modal-footer">
                            <button
                              type="button"
                              class="btn btn-secondary"
                              data-bs-dismiss="modal"
                            >
                              Cancel
                            </button>
                            <a href="{% url 'delete_customer' customer.id %}">
                            <button
                              type="button"
                              class="btn btn-danger"
                              id="confirmDelete"
                            >
                              Delete
                            </button>
                          </a>
                          </div>
                        </div>
                      </div>
                    </div>
      
                    <!-- Button to trigger modal -->
                    <td style="font-size: 15px">
                      <i
                        class="fa-solid fa-trash text-danger"
                        id="deleteBtn"
                        data-bs-toggle="modal"
                        data-bs-target="#deleteModal{{customer.id}}"
                      ></i>
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
                <!--Table body-->
              </table>
              <!--Table-->
            </div>
          </div>
        </section>
        <!--MDB Tables-->
      </main>

      <script>
        // Generate a unique ID
        var uniqueId = generateUUID();
    
        // Set the ID of the element
        var element = document.getElementById('uniqueElement');
        element.id = uniqueId;
    
        // Log the generated ID
        console.log('Generated unique ID:', uniqueId);
    
        // Function to generate UUID
        function generateUUID() {
            return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function(c) {
                var r = Math.random() * 16 | 0,
                    v = c == 'x' ? r : (r & 0x3 | 0x8);
                return v.toString(16);
            });
        }
      </script>

    </div>
  </div>
</div>


<div class="offcanvas offcanvas-bottom" style="height: 100vh;" tabindex="-1" id="offcanvasBottom3"
  aria-labelledby="offcanvasBottomLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasBottomLabel">
      <span type="button" class="me-2" data-bs-dismiss="offcanvas" aria-label="Close"><i
          class="fa-solid fa-arrow-left"></i></span> Help
  </div>

  <div class="offcanvas-body small mt-0 pt-0">
    <div class="container mt-0 p-0">
      <header>Help</header>
      <div class="wrapper">
        <div class="form">
          <h5 class="text-center">GET IN TOUCH</h5>
          <h2 class="text-center mb-3 form-headline">Send us a message</h2>
          <form id="submit-form" action="">
            <p class="full-width">
              <input id="name" class="form-input" type="text" name="your_name" placeholder="Your Name*">
              <span class="error-message"></span>
              <small class="name-error"></small>
            </p>
            <p class="full-width">
              <input id="email" class="form-input" type="email" name="your_email" placeholder="Your Email*">
              <span class="error-message"></span>
              <small class="name-error"></small>
            </p>
            <p class="full-width">
              <input id="company-name" class="form-input" type="text" name="company_name_help" placeholder="Company Name*" required>
              <span class="error-message"></span>
              <small></small>
            </p>
            <p class="full-width">
              <input id="subject" class="form-input" type="text" name="subject_help" placeholder="Subject*" required>
              <span class="error-message"></span>
              <small></small>
            </p>
          
            <select style="color:rgb(116, 116, 116) !important;" name="select_department" id="select" class="full-width form-input" placeholder="Select your Department*" required>
              <option disabled selected >Select department *</option>
              <option value="Technical Support">Technical Support</option>
              <option value="Customer Care">Customer Care</option>
              <option value="Data Management">Data Management</option>
            </select>
    
            <p class="full-width">
              <textarea  minlength="20" id="message" cols="30" rows="4" name="your_massage" placeholder="Your Message*" required></textarea>
              <span class="error-message"></span>
              <small></small>
            </p>
        
            <p class="full-width" style="margin-left: 100px;">
                <input type="submit" class="submit-btn" value="Submit" onclick="checkValidations()">
            </p>
          </form>
        </div>
    </div>
    
      <style>
              div.form {
              background-color: #eee;
              }
    
              .submit-btn {
              float: left;
              }
    
    
              .highlight-text {
              color: #ec1c24;
              }
    
              .hightlight-contact-info {
              font-weight: 700;
              font-size: 22px;
              line-height: 1.5;
              }
    
              .highlight-text-grey {
              font-weight: 500;
              }
    
              .email-info {
                  margin-top: 20px;
              }
    
              ::-webkit-input-placeholder { /* Chrome */
              font-family: 'Roboto', sans-serif;
              }
    
              .required-input {
              color: black;
              }
              @media (min-width: 600px) {
              .contain {
                  padding: 0;
              }
              }
    
              h3,
              ul {
              margin: 0;
              }
    
              h3 {
              margin-bottom: 1rem;
              }
    
              .form-input:focus,
              textarea:focus{
              outline: 1.5px solid #ec1c24;
              }
    
              .form-input,
              textarea {
              width: 100%;
              border: 1px solid #bdbdbd;
              border-radius: 5px;
              }
    
              .wrapper > * {
              padding: 1em;
              }
              @media (min-width: 700px) {
              .wrapper {
                  display: grid;
                  grid-template-columns: 2fr 1fr;
              }
              .wrapper > * {
                  padding: 2em 2em;
              }
              }
    
              .contacts {
              color: #212d31;
              }
    
              .form {
              background: #fff;
              margin-top: 0;
              }
    
              form {
              display: grid;
              grid-template-columns: 1fr 1fr;
              grid-gap: 20px;
              }
              form label {
              display: block;
              }
    
              form p {
              margin: 0;
              }
    
              .full-width {
              grid-column: 1 / 3;
              }
    
              button,
              .submit-btn,
              .form-input,
              textarea {
              padding: 6px;
              }
    
              button, .submit-btn {
              background: transparent;
              border: 1px solid #ec1c24;
              color: #ec1c24;
              border-radius: 15px;
              padding: 5px 20px;
              text-transform: uppercase;
              }
              button:hover, .submit-btn:hover,
              button:focus , .submit-btn:focus{
              background: #ec1c24;
              outline: 0;
              color: #eee;
              }
              .error {
              color: #ec1c24;
              }
    
    
      </style>
    
      <script>
          const nameEl = document.querySelector("#name");
        const emailEl = document.querySelector("#email");
        const companyNameEl = document.querySelector("#company-name");
        const messageEl = document.querySelector("#message");
        
        const form = document.querySelector("#submit-form");
        
        function checkValidations() {
          let letters = /^[a-zA-Z\s]*$/;
          const name = nameEl.value.trim();
          const email = emailEl.value.trim();
          const companyName = companyNameEl.value.trim();
          const message = messageEl.value.trim();
          if (name === "") {
            document.querySelector(".name-error").classList.add("error");
              document.querySelector(".name-error").innerText =
                "Please fill out this field!";
          } else {
            if (!letters.test(name)) {
              document.querySelector(".name-error").classList.add("error");
              document.querySelector(".name-error").innerText =
                "Please enter only characters!";
            } else {
              
            }
          }
          if (email === "") {
            document.querySelector(".name-error").classList.add("error");
              document.querySelector(".name-error").innerText =
                "Please fill out this field!";
          } else {
            if (!letters.test(name)) {
              document.querySelector(".name-error").classList.add("error");
              document.querySelector(".name-error").innerText =
                "Please enter only characters!";
            } else {
              
            }
          }
        }
        
        function reset() {
          nameEl = "";
          emailEl = "";
          companyNameEl = "";
          messageEl = "";
          document.querySelector(".name-error").innerText = "";
        }
        
      </script>
    
    </div>
  </div>
</div>


<div class="offcanvas offcanvas-bottom" style="height: 100vh;" tabindex="-1" id="offcanvasBottom4"
  aria-labelledby="offcanvasBottomLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasBottomLabel">
      <span type="button" class="me-2" data-bs-dismiss="offcanvas" aria-label="Close"><i
          class="fa-solid fa-arrow-left"></i></span> Setting
  </div>

  <div class="offcanvas-body small mt-0">
      <section class=" container shadow-0 mt-0 p-0">
          <header >Account Settings</header>
          {% if messages %}
          {% for message in messages %}
          <h6 style="color: red;">{{ message }}</h6>
          {% endfor %}
          {% endif %}
          <form method="post" class="element-to-hide" style="display: contents;"  action="{% url 'change_username' %}">
              {% csrf_token %}
              <label for="notificationTitle" class="mt-3">Change Username</label>
              <div class="input-group my-3">
                  <input class="form-control form_control_form rounded-start rounded-0" type="text" name="new_username" value="{{ request.user.username }}" />
                  <button class="btn shadow-0 border border-dark border-1" type="submit">Change</button>
              </div>
          </form>
          <form action="{% url 'change_password' %}" method="post" class="element-to-hide" style="display: contents;">
              {% csrf_token %}
              <label for="password">Change Password</label>
              <div class="input-group my-3">
                  <input type="password" class="form-control form_control_form rounded-start rounded-0" id="password" name="new_password" required />
                  <i class="bi bi-eye-slash" id="togglePassword"></i>
                  <button class="btn shadow-0 py-2 border border-dark border-1" type="submit" style="height: 35px;">Change</button>
              </div>
          </form>
            
          <div class="row">
              <div class="col-md-6 mx-auto mt-5">
                <button class="btn btn-danger w-100" title="Delete your account" type="button"  data-bs-toggle="modal" data-bs-target="#exampleModaldeleteacc{{request.user.id}}">Delete your account</button>
              </div>
            </div>
      </section>
  </div>
</div>

{% for customer in manage_customer %}
<!-- Include Bootstrap modal dialog -->
<div class="modal fade" id="deleteModal{{agent.id}}" tabindex="-1" aria-labelledby="deleteModalLabel"
aria-hidden="true">
<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="deleteModalLabel">
        Confirm Delete
      </h5>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
      Are you sure you want to delete this item?
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
        Cancel
      </button>
      <a href="{% url 'delete' customer.id %}">
        <button type="button" class="btn btn-danger" id="confirmDelete">
          Delete
        </button>
      </a>
    </div>
  </div>
</div>
</div>
{% endfor %}


<div class="modal fade" id="exampleModaldeleteacc{{request.user.id}}" tabindex="-1"
                  aria-labelledby="exampleModalLabel" aria-hidden="true" style="margin-top: 10%;">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-body text-center" style="background-color: #e0e0e0;">
                        <p><i class="fa-solid fa-circle-xmark text-danger fs-2"></i></p>
                        <p class="fs-5">Are You Sure To Delete your account ?</p>
                        <a href="{% url 'delete_account' %}">
                          <button type="button" class="btn btn-danger px-5 mx-2">yes</button>
                        </a>
                        <button type="button" class="btn btn-secondary px-5 mx-2"  type="button" data-bs-dismiss="modal">No</button>
                      </div>
                    </div>
                  </div>
                </div>

{% endblock %}
