{% extends 'base.html' %}
{% block content %}

<section class="container">
    <div>
      <ul class=" row nav nav-tabs mb-3 m-0 p-0" id="ex1" role="tablist">
        <li class="nav-item col-6 m-0 p-0" role="presentation">
          <a
            data-mdb-tab-init
            class="nav-link active text-center fs-6"
            id="ex1-tab-1"
            href="#ex1-tabs-1"
            role="tab"
            aria-controls="ex1-tabs-1"
            aria-selected="true"
            >Help</a
          >
        </li>
        <li class="nav-item col-6 m-0 p-0" role="presentation">
          <a
            data-mdb-tab-init
            class="nav-link text-center fs-6"
            id="ex1-tab-2"
            href="#ex1-tabs-2"
            role="tab"
            aria-controls="ex1-tabs-2"
            aria-selected="false"
            >Contact</a
          >
        </li>
      </ul>
      <!-- Tabs navs -->
      
      <!-- Tabs content -->
      <div class="tab-content" id="ex1-content">
        <div
          class="tab-pane fade show active"
          id="ex1-tabs-1"
          role="tabpanel"
          aria-labelledby="ex1-tab-1">
        
          <div class="wrapper">
            <div class="form pt-0">
              <h5 class="text-center pt-1">GET IN TOUCH</h5>
              <h2 class="text-center mb-3 form-headline">Send us a message</h2>
              <form id="submit-form" action="">
                <p class="full-width">
                  <input id="name" class="form-input" type="text" name="help_name" placeholder="Your Name*">
                  <small class="name-error"></small>
                </p>
                <p class="full-width">
                  <input id="email" class="form-input" type="email" name="help_email" placeholder="Your Email*">
                  <small class="name-error"></small>
                </p>
                <p class="full-width">
                  <input id="company-name" class="form-input" type="text" name="help_company_name_help" placeholder="Company Name*" required>
                  <small></small>
                </p>
                <p class="full-width">
                  <input id="subject" class="form-input" type="text" name="subject_help2" placeholder="Subject*" required>
                  <small></small>
                </p>
                <select style="color:rgb(116, 116, 116) !important;" name="select_department_help" id="select" class="full-width form-input" placeholder="Select your Department*" required>
                  <option disabled selected >Select department *</option>
                  <option value="Technical Support">Technical Support</option>
                  <option value="Customer Care">Customer Care</option>
                  <option value="Data Management">Data Management</option>
                </select>
                <p class="full-width">
                  <textarea  minlength="20" id="message" cols="30" rows="4" name="your_massage_help" placeholder="Your Message*" required></textarea>
                  <small></small>
                </p>
            
                <p class="full-width" style="margin-left: 100px;">
                    <input type="submit" class="submit-btn" value="Submit" onclick="checkValidations()">
                </p>
              </form>
            </div>
          </div>
    
          <style>
                  div.form {
                  background-color: #eee;
                  }
      
                  .submit-btn {
                  float: left;
                  }
      
      
                  .highlight-text {
                  color: #ec1c24;
                  }
      
                  .hightlight-contact-info {
                  font-weight: 700;
                  font-size: 22px;
                  line-height: 1.5;
                  }
      
                  .highlight-text-grey {
                  font-weight: 500;
                  }
      
                  .email-info {
                      margin-top: 20px;
                  }
      
                  ::-webkit-input-placeholder { /* Chrome */
                  font-family: 'Roboto', sans-serif;
                  }
      
                  .required-input {
                  color: black;
                  }
                  @media (min-width: 600px) {
                  .contain {
                      padding: 0;
                  }
                  }
      
                  h3,
                  ul {
                  margin: 0;
                  }
      
                  h3 {
                  margin-bottom: 1rem;
                  }
      
                  .form-input:focus,
                  textarea:focus{
                  outline: 1.5px solid #ec1c24;
                  }
      
                  .form-input,
                  textarea {
                  width: 100%;
                  border: 1px solid #bdbdbd;
                  border-radius: 5px;
                  }
      
                  .wrapper > * {
                  padding: 1em;
                  }
                  @media (min-width: 700px) {
                  .wrapper {
                      display: grid;
                      grid-template-columns: 2fr 1fr;
                  }
                  .wrapper > * {
                      padding: 2em 2em;
                  }
                  }
      
                  .contacts {
                  color: #212d31;
                  }
      
                  .form {
                  background: #fff;
                  margin-top: 0;
                  }
      
                  form {
                  display: grid;
                  grid-template-columns: 1fr 1fr;
                  grid-gap: 20px;
                  }
                  form label {
                  display: block;
                  }

                  form p {
                  margin: 0;
                  }
      
                  .full-width {
                  grid-column: 1 / 3;
                  }
      
                  button,
                  .submit-btn,
                  .form-input,
                  textarea {
                  padding: 6px;
                  }
      
                  button, .submit-btn {
                  background: transparent;
                  border: 1px solid #ec1c24;
                  color: #ec1c24;
                  border-radius: 15px;
                  padding: 5px 20px;
                  text-transform: uppercase;
                  }
                  button:hover, .submit-btn:hover,
                  button:focus , .submit-btn:focus{
                  background: #ec1c24;
                  outline: 0;
                  color: #eee;
                  }
                  .error {
                  color: #ec1c24;
                  }
      
      
          </style>
    
          <script>
              const nameEl = document.querySelector("#name");
            const emailEl = document.querySelector("#email");
            const companyNameEl = document.querySelector("#company-name");
            const messageEl = document.querySelector("#message");
            
            const form = document.querySelector("#submit-form");
            
            function checkValidations() {
              let letters = /^[a-zA-Z\s]*$/;
              const name = nameEl.value.trim();
              const email = emailEl.value.trim();
              const companyName = companyNameEl.value.trim();
              const message = messageEl.value.trim();
              if (name === "") {
                document.querySelector(".name-error").classList.add("error");
                  document.querySelector(".name-error").innerText =
                    "Please fill out this field!";
              } else {
                if (!letters.test(name)) {
                  document.querySelector(".name-error").classList.add("error");
                  document.querySelector(".name-error").innerText =
                    "Please enter only characters!";
                } else {
                  
                }
              }
              if (email === "") {
                document.querySelector(".name-error").classList.add("error");
                  document.querySelector(".name-error").innerText =
                    "Please fill out this field!";
              } else {
                if (!letters.test(name)) {
                  document.querySelector(".name-error").classList.add("error");
                  document.querySelector(".name-error").innerText =
                    "Please enter only characters!";
                } else {
                  
                }
              }
            }
            
            function reset() {
              nameEl = "";
              emailEl = "";
              companyNameEl = "";
              messageEl = "";
              document.querySelector(".name-error").innerText = "";
            }
            
          </script>

        </div>

        <div class="tab-pane fade" id="ex1-tabs-2" role="tabpanel" aria-labelledby="ex1-tab-2">
          
          <div class="contact-info" style="text-align: center;">
            <h3 class="title mt-4">Let's get in touch</h3>
            <p class="text mt-3">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe
              dolorum adipisci recusandae praesentium dicta!
            </p>
            <div class="info">
              <div class="information">
                <i class="fas fa-map-marker-alt mt-3"></i> &nbsp &nbsp
  
                <p>S06,Royal Courts,E-Ward,Panch Bunglow,Shahupuri,Kolhapur 416001</p>
              </div>
              <div class="information">
                <i class="fas fa-envelope mt-3"></i> &nbsp &nbsp
                <p>contact@leadmanagement.com</p>
              </div>
              <div class="information">
                <i class="fas fa-phone mt-3"></i>&nbsp&nbsp
                <p>+918055396396</p>
              </div>
            </div>
  
            <div class="social-media ">
              <i class="fa-solid fa-address-book mt-3"></i>
              <h6 class="mt-1 mb-4">Connect with us :</h6>
              <div class="social-icons d-flex justify-content-between" style="margin-left: 90px; margin-right: 90px;">
                <a href="https://www.facebook.com/">
                  <i class="fa-brands fs-2 fa-facebook"></i>
                </a>
                <a href="https://www.instagram.com/">
                  <i class="fa-brands fs-2 text-danger fa-instagram"></i>
                </a>
                <a href="https://www.whatsapp.com/">
                  <i class="fa-brands fs-2 text-success fa-whatsapp"></i>
                </a>
                <a href="https://www.twitter.com/">
                  <i class="fa-brands fs-2 text-info fa-twitter"></i>
                </a>
              </div>
            </div>
          </div>

        </div>
      </div>
      <!-- Tabs content -->
    </div>
</section>

{% endblock %}