<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>Material Design for Bootstrap</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
    <style>
        *{
            margin: 0;
            padding: 0;
        }
        body {
            font-family: "Poppins" !important;
            font-weight: 400;
            font-style: normal;
            color: #6c6b6b;
        }
    </style>

</head>

<body>
    <div class="" style="background-color: #6c6b6b;">
        <div class="card" style="background-color: white;margin: 0 15%;padding: 30px;">
        <div class="text-center">
            <h5  class="text-dark">Welcome to Lead Pro</h5>
            <p>Your Gateway to Lead Generation Success!</p>
        </div>
        <p>Dear {{first_name}} {{last_name}},</p>
        <p>Welcome to Lead Pro, your ultimate solution for lead generation success! We're thrilled to have you on board
            as an admin for our platform. <br><br>
            As a member of our esteemed administrative team, you play a crucial role in harnessing the full potential of
            Lead Pro to drive growth and expansion for your business. Whether you're a seasoned professional or just
            starting your journey in lead generation, we're here to support you every step of the way.
        </p>
        <p class="text-dark" style="font-weight: 500;">Here are a few key points to get you started:</p>
        <ol>
            <li class="text-dark" style="font-weight: 500;">Access to Powerful Tools:</li>
            <p>Access a suite of powerful lead generation tools with Lead Pro for optimized results.</p>
            <li class="text-dark" style="font-weight: 500;">Dedicated Support: </li>
            <p>Count on dedicated support from Universal People Connect LLP to ensure your Lead Pro experience is
                exceptional.</p>
            <li class="text-dark" style="font-weight: 500;">Continuous Improvement: </li>
            <p>Experience continuous improvement with Lead Pro's innovative platform, evolving to meet your needs.</p>
            <li class="text-dark" style="font-weight: 500;">Community Engagement: </li>
            <p>Engage with our dynamic admin community to network, share insights, and stay ahead in lead generation
                trends.</p>
        </ol>
        <p>To access Lead Pro and start unleashing the full potential of your lead generation efforts, through web or
            mobile app panel simply log in using the credentials.</p>
        <br><br>
        <p>Once again, welcome to Lead Pro! We're excited to embark on this journey with you and help you achieve your
            lead generation goals. </p>
        <br>
        <h4>Username: {{username}}</h4>
        <h4>Password: {{password}}</h4>
        
        <br>

        <a href="http://127.0.0.1:8000/"><button class="btn loginhover" style="font-weight: bold; color: black; background-color: orange; width: 170px!important; height: 30px !important; border: 0px; border-radius: 10px;">Go TO Login Page</button></a>
        <br>
        <p>Best Regards,</p>
        <br> <br>
        <p>Best Regards,</p>
        <br> <br>
        <p class="mb-0">Nitin Mane, Director</p>
        <p  class="text-dark mb-0" style="font-weight: 500;">VLead Pro by UPCONN</p>
        <p style="font-size: 13px;">S06, Royal Courts, E-Ward, <br>
            Panch Bunglow, Shahupuri, <br>
            Kolhapur. 416001 <br>
            Contact: +918055396396 <br>
        </p>

        <p class="text-dark text-center" style="font-weight: 500;">@ Universal People Connect LLP All Rights Reserved.</p>
    </div>
    </div>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.4.0/mdb.min.js"></script>
</body>

</html>